@font-face {
  font-family: "Oddval";
  src: url("./fonts/Oddval-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold uchun */
  font-style: normal;
}

/* Oddval SemiBold Italic */
@font-face {
  font-family: "Oddval";
  src: url("./fonts/Oddval-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.component_container,
.job_container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  /* position: relative; */
  padding: 10px;
  scrollbar-width: 1px;
}
.component_container > div {
  margin: 10px 0px;
}
.home {
  overflow-y: hidden;
}
#backBtn {
  cursor: pointer;
}
.second_img {
  object-fit: cover;
  border-radius: 16px;
  height: 330px;
}
.container {
  max-width: 480px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  padding: 10px;
  scrollbar-width: 1px;
}

.container .hero {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero .hero_logo {
  font-weight: 600;
  letter-spacing: -2%;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 20;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-family: "Oddval";
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 35%;
  transform: scale(1.27);
}

.info {
  position: absolute;
  bottom: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info .info_title {
  font-size: 84px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -6%;
  font-family: "Oddval";
  line-height: 84px;
  /* margin-top: 15px; */
}
.info .info_text {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-family: "Oddval";
  line-height: 24px;
}

.info_footer {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  width: 90%;
  color: #ffffff;
  font-family: "Inter";
  margin: 4px 0px;
}
.info button {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0px;
}
button {
  white-space: nowrap;
}
/* // second page  */
.second {
  background-color: #e8eeee;
  position: relative;
}
.second .card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  min-height: 294px;
  margin: 5px 0px;
}
.card .card_title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #131613;
  margin-bottom: 4px;
  line-height: 24px;
  font-family: "Oddval";
}
.tubs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.tubs .tub {
  display: inline-block;
  padding: 5px 12px 7px 12px;
  color: #6b9191;
  border: 1px solid #6b9191;
  border-radius: 40px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.tub {
  position: relative;
}
.tub.active {
  background-color: #6b9191;
  color: white;
  border: none;
}
.second .images {
  margin-top: 20px;
}
.second .images img {
  width: 100%;
  max-height: 330px;
}
.finish_next-btn {
  border: 1px solid #3da88b !important;
  margin: 10px 0px;
  font-family: "Oddval";
}
.date {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
}
.second .close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* finish page  */

.lists_work {
  display: flex;
  flex-direction: column;
}
.lists_work .list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 5px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #6b9191;
}
.list_item .list_title {
  font-size: 18px;
  color: #6b9191;
  font-family: "Inter";
}
.list_item .buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.list_item .buttons div {
  background-color: #e8eeee;
  color: #6b9191;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 12px 7px 12px;
  border-radius: 40px;
  font-family: "Inter";
  cursor: pointer;
}
.list_item .active {
  border: 1px solid #6b9191;
  background-color: transparent !important;
}

/* josb page   */
.container_job {
  max-width: 480px;
  width: 100%;
  /* height: 100vh; */
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}
.jobs_hero {
  background-color: #e8eeee;
  height: 260px;
  /* height: 100%; */
  position: relative;
}
.jobs_hero img {
  max-width: 270px;
  max-height: 260px;
  position: absolute;
  right: -10px;
  top: -13px;
  transform: scale(1.1);
  /* border: 1px solid red; */
  background-repeat: no-repeat;
  z-index: 18;
}
/* #infoBtn button {
  gap: 4px;
  padding-top: -5px;
} */
.job_info {
  /* margin-top: 64px; */
  z-index: 20;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.job_info h2 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -2px;
  font-family: "Oddval";
  line-height: 34px;
}
.jobs_title {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 10px;
  color: #292727;
  font-family: "Oddval";
}

.find {
  max-width: 100%;
  max-height: 232px;
  border-radius: 16px;
  background-color: #e8eeee;
  padding: 16px;
}
.find .input {
  position: relative;
}

.input input {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  padding-right: 110px; /* iconlar joyi */
  border-radius: 8px;
  border: none;
}
/* .find input:focus {
  outline: 1px solid #6b9191 !important;
} */
input,
textarea {
  caret-color: #3da88b;
  color: #3da88b !important;
}
input:focus,
textarea:focus {
  outline: 1px solid #6b9191 !important;
}
.icon {
  position: absolute;
  top: 0;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon.search {
  right: 0;
  background-color: #3da88b;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.icon.clear {
  right: 54px;
  display: none;
  font-size: 18px;
  color: #999;
  /* border: 1px solid red; */
  text-align: center;
  line-height: 48px;
}

.find .find_title {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px;
  color: #6b9191;
  font-family: "Oddval";
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.filters .filter_item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.filter_item span {
  font-weight: 500;
  font-size: 18px;
  color: #6b9191;
  opacity: 100;
  font-family: "Inter";
}

.filter_keys {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 4px;
  margin: 15px 0px;
}
.keys_item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #6b9191;
  padding: 8px 12px;
}
.keys_item span {
  color: #6b9191;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter";
}

.filter_result_total .close_total {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131613;
  cursor: pointer;
}
.filter_result_total {
  display: flex;
  align-items: center;
  gap: 10px;
}
.result_title {
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter";
}

.filters_list .list_item {
  min-height: 154px;
  background-color: #e8eeee;
  border-radius: 14px;
  padding: 16px;
  margin: 20px 0px;
}
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}
.list_item .collapse {
  max-height: 2000px;
}
.list_item .collapse ul {
  list-style-position: unset;
  padding-left: 14px;
}
.list_item .collapse ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Inter";
}
.list_item .collapse h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px;
  font-family: "Oddval";
  line-height: 24px;
}
.filters_list .list_footer {
  color: #6b9191;
  margin-top: 40px;
}
.filters_list .list_footer span {
  font-weight: 500;
  font-family: "Inter";
}
.filters_list .list_footer p {
  font-weight: 600;
  font-family: "Oddval";
}
.list_item .list_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_top h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Oddval";
}
.list_top .title span {
  color: #6b9191;
  font-family: "Inter";
}
.toggle-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #3fa68c;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
  color: #3fa68c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-btn {
  position: relative;
}
.toggle-btn .minus {
  display: none;
}
.collapse {
  display: none;
  margin-top: 16px;
}

.apply-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 24px;
  background: #3fa68c;
  color: white;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
}
.list_top > .active {
  display: flex;
}

/* job detail  */

.detail_title {
  width: 75%;
  font-size: 36px;
  font-weight: 600;
  font-style: italic;
  color: #292727;
  font-family: "Oddval";
  line-height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.detail_info {
  color: #6b9191;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 500;
}
.question {
  border-radius: 16px;
  padding: 16px;
  background-color: #e8eeee;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input {
  height: 42px;
  padding: 12px 12px 12px 16px;
  background-color: #ffffff;
  border-radius: 40px;
  border: none;
  margin: 10px 0px 20px 0px;
  /* text-indent: 24px; */
}
.form-group label {
  font-size: 14px;
  color: #6b9191;
  font-family: "Inter";
}
input::placeholder {
  color: #6b919180;
  font-size: 14px;
  font-weight: 500;
}
.form-group input:focus {
  outline: none;
}
.form .borough_btn {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0px;
  position: relative;
}
label span {
  font-weight: 600;
  font-family: "Oddval";
}
.form .label_info {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #3da88b;
  font-family: "Inter";
  letter-spacing: -2%;
}
.borough_btn .btn {
  border-radius: 58px;
  padding: 8px 12px;
  border: 1px solid #6b9191;
  font-weight: 500;
  color: #6b9191;
  font-size: 14px;
  font-family: "Inter";
}
.borough_btn .btn.active {
  background-color: #6b9191;
  border: none;
  color: white;
}
.application_nedd h1,
.health h1 {
  font-size: 14px;
  font-weight: 500;
  color: #6b9191;
  margin: 20px 0px 10px 0px;
  font-family: "Inter";
}
.application_nedd .buttons div,
.health .buttons div {
  display: inline-flex;
  padding: 8px 12px;
  border-radius: 58px;
  border: 1px solid #6b9191;
  color: #6b9191;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
}
.application_nedd .buttons div.active,
.health .buttons div.active {
  background-color: #6b9191;
  color: white;
  border: none;
}
.indicate,
.Weekend {
  margin: 20px 0px;
}
.role_title,
.schedule_title {
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  color: #6b9191;
}
.role_text {
  font-size: 12px;
  line-height: 16px;
  color: #3da88b;
  font-family: "Inter";
}

.schedule {
  margin: 20px 0px;
}

.company_form,
.job_form {
  border-radius: 16px;
  padding: 16px;
  background-color: #e8eeee;
}
.job_main {
  margin: 20px 0px;
}
.job_main .content {
  list-style-type: decimal;
}
.job_main .content li {
  margin: 10px 0px;
  font-family: "Inter";
}
.job_main .content > h1,
.content li > h1 {
  color: #6b9191;
  font-size: 24px;
  font-weight: 600;
  margin-top: 28px;
  font-family: "Oddval";
}
.content li > p {
  margin-bottom: 10px;
  margin-top: -5px;
}
.content p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  color: #6b9191;
  /* margin-top: 5px; */
}
article {
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  line-height: 18px;
  color: #6b9191;
}
.job_detal .job_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_item {
  margin: 10px 0px;
}
.form_item label {
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #6b9191;
}
.form_item .area_info {
  font-size: 12px;
  font-weight: 500;
  color: #3da88b;
  line-height: 16px;
  font-family: "Inter";
}
.form_item textarea {
  border: none;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  min-height: 123px;
  color: #131613;
}
textarea:focus {
  outline: none;
}

.checkbox .checkbox_item {
  display: flex;
  margin: 10px 0px;
  gap: 10px;
}
.checkbox_item .check_icon {
  width: 20px;
  height: 20px;
  border-radius: 40px;
  background-color: #3da88b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check_icon img {
  display: none;
}
.check_icon .active {
  display: block;
}
.checkbox_item span {
  color: #3da88b;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter";
}

textarea::placeholder {
  color: #6b919180;
  font-size: 14px;
  font-weight: 500;
}

/* location modal  */

/* MODAL BACKDROP */
.location-modal {
  position: fixed;
  inset: 0;
  background: #292727b2;
  display: none;
  z-index: 1000;
}
/* MODAL BOX */
.location-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  background: #e8eeee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 16px;
}

/* HEADER */
.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-header h3 {
  margin: 0;
  color: #6b9191;
  font-size: 24px;
  font-weight: 600;
  font-family: "Oddval";
}

.close-modal,
.close-salary {
  font-size: 24px;
  cursor: pointer;
  color: #6b9191;
  font-weight: 700;
  margin-top: -8px;
}

/* SECTIONS */
.location-section h4 {
  margin: 16px 0 8px;
  color: #6b9191;
  font-size: 24px;
  font-weight: 600;
  font-family: "Oddval";
}
.pastga,
.yuqoriga {
  display: none;
}
.pastga.active,
.yuqoriga.active {
  display: block;
  object-fit: contain;
}

/* TAGS */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0px;
}

.tag {
  padding: 8px 12px;
  border: 1px solid #6b9191;
  border-radius: 58px;
  font-size: 14px;
  color: #6b9191;
  cursor: pointer;
  font-weight: 500;
  font-family: "Inter";
}

.tag.active {
  background: #6b9191;
  color: #fff;
  border-color: #6b9191;
}

/* BACKDROP */
.salary-modal {
  position: fixed;
  inset: 0;
  background: #292727b2;
  display: none;
  z-index: 1000;
}

/* BOTTOM MODAL */
.salary-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  background: #e8eeee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 16px;
  background-color: #e8eeee;
}

/* HEADER */
.salary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salary-header h3,
#categoryModal h3 {
  margin: 0;
  color: #6b9191;
  font-size: 24px;
  font-weight: 600;
  font-family: "Oddval";
}

.close-salary {
  font-size: 20px;
  cursor: pointer;
}

/* VALUE */
.salary-value {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;
  font-size: 14px;
  color: #6b9191;
  font-weight: 500;
  font-family: "Inter";
}

/* RANGE */
.range-wrapper {
  padding: 20px 0;
}

.range-track {
  position: relative;
  height: 6px;
  background: #ffff;
  border-radius: 10px;
}

.range-fill {
  position: absolute;
  height: 100%;
  width: 0%;
  background: #6b9191;
  border-radius: 10px;
}

.range-thumb {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-color: #e8eeee;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #6b9191;
}

/* CATEGORY MODAL */
#categoryModal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6b9191;
  z-index: 1000;
  border-radius: 16px 16px 0 0;
  padding: 16px;
  display: none;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.category_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category_box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  background: #f3f7f7;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 16px;
  background-color: #e8eeee;
}
#categoryBackdrop {
  position: fixed;
  inset: 0;
  background: #292727b2;
  z-index: 999;
  display: none;
}
#categoryModal.active {
  display: block;
  transform: translateY(0);
}

#categoryBackdrop.active {
  display: block;
}
/* Close icon */
#categoryModal .close-category {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  color: #6b9191;
  font-weight: 700;
}

/* Tags container */
#categoryModal .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
}

/* Tag style */
#categoryModal .tag {
  padding: 8px 14px;
  border: 1px solid #6b9191;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  font-family: "Inter";
  transition: all 0.2s ease;
}

/* Optional hover */
#categoryModal .tag:hover {
  background: #f5f5f5;
}

#btnsComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.component_container .select {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.select .filter_keys {
  flex-direction: column;
}
.keys_item.active {
  border: none;
  background-color: #e8eeee;
  color: #6b9191;
}

.form_elements .filters {
  margin: 10px;
}

.typography h2 {
  font-family: "Oddval";
  font-weight: 600;
  font-size: 32px;
}
.typography h1 {
  font-size: 84px;
  font-family: "Oddval";
  font-weight: 600;
  letter-spacing: -6%;
}
.typography .h1_info {
  color: #6b9191;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter";
  margin: 10px 0px;
  display: inline-block;
}
.typography h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Oddval";
}
.typography h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Oddval";
}
.typography h4 {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
}
.typography .text {
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
}
.typography .btn {
  font-size: 16px;
  font-weight: 600;
  color: #292727;
  font-family: "Oddval";
}
.compBtn {
  width: 100%;
  display: flex;
  /* align-items: center; */
  gap: 5px;
  /* border: 1px solid red; */
}
.compBtn button {
  text-decoration: underline;
  font-family: "Oddval";
  height: 48px !important;
  padding: 16px 20px !important;
  white-space: nowrap;
  /* line-height: 48px !important; */
}

.typographys h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.color-row {
  display: flex;
  margin-bottom: 10px;
}
.color-row div {
  width: 124px;
}
.color-box {
  flex: 1;
  padding: 10px;
  color: white;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

/* Background colors */
.bg-blue-grey {
  background-color: #6b9191;
}
.bg-bluee-grey {
  background-color: #6b919180;
}
.bg-light-blue {
  background-color: #e8eeee;
  color: #6b9191;
  font-size: 16px;
  font-family: "Oddval";
  font-weight: 600;
}
.bg-white {
  background-color: #ffffff;
  color: #6b9191;
  font-family: "Oddval";
  font-weight: 600;
  font-size: 16px;
}
.bg-black {
  background-color: #292727;
  font-family: "Oddval";
  font-weight: 600;
  font-size: 16px;
}
.bg-green {
  background-color: #3da88b;
  font-family: "Oddval";
  font-weight: 600;
  font-size: 16px;
}

/* Stroke colors (example using border) */
.color-stroke {
  display: flex;
  margin-bottom: 10px;
}
.color-boxs {
  flex: 1;
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}
.stroke-blue-grey {
  color: #ffffff;
  background-color: #6b9191;
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}
.stroke-blue-grey-30 {
  color: #6b9191;
  background-color: #6b91914d;
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}
.stroke-green {
  color: #ffff;
  background-color: #3da88b;
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

/* Text colors (background optional) */
.text-blue-grey {
  /* background-color: #6b9191; */
  color: #6b9191;
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
}
.text-light-blue {
  color: #3da88b;
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
  background-color: #e8eeee;
}
.text-white {
  color: #ffff;
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
}
.text-black {
  color: #222222;
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
}
.text-blue-grey-50 {
  color: rgba(110, 140, 140, 0.5);
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
}
.text-green {
  color: #3fa583;
  font-family: "Oddval";
  font-size: 16px;
  font-weight: 600;
}

.organisms .card {
  margin: 30px 0px;
}

.iconcomponent {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px;
}
.iconcomponent.search {
  right: 0;
  background-color: #3da88b;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.iconcomponent.icon_grey {
  background-color: #6b9191 !important;
}
.toggle-btns .plus,
.toggle-btns .minus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  color: #3da88b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-btns .plus {
  border: 1.59px solid #3fa68c;
  background: transparent;
}
.toggle-btns .minus {
  background-color: #3da88b;
  color: white;
  border: none;
}
.select_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}
